.fill-height {
    height: calc(100vh - 114px);
}
/* Makes our label white. */
.blocklyTreeLabel {
    color: #565e75;
}
/* Adds padding around the group of categories and separators. */
.blocklyToolboxContents {
    padding: 0.5em;
}
/* Adds space between the categories, rounds the corners and adds space around the label. */
.blocklyTreeRow {
    padding: 3px;
    margin-bottom: 0.5em;
    border-radius: 4px;
}
/* Changes color of the icon to white. */
.customIcon {
    color: white;
    background-color: red;
}
/* Stacks the icon on top of the label. */
.blocklyTreeRowContentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blocklyTreeRow {
    height: initial;
}

.blocklyToolboxDiv {
    background-color: #ffffff;
}
.blocklyMainBackground {
    fill: #f2f2f2 !important;
}
.blocklyTreeLabel {
    color: black !important;
}
.blocklyFlyoutBackground {
    fill: #ffffff !important;
}
.blocklyScrollbarVertical {
    display: none !important;
}
